{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
    <main>
        <div>
            <p>helllo</p>
        </div>
        <div class="test">

        </div>
    </main>


{% endblock %}