// base.html.twig
@import "vars";

body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    top: 300px;

    header {
        .parallax {
            background-image: url("/images/nouveaute.jpg");
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            top: 0;
            height: 310px;
            text-align: center;

            .connexion {
                background-color: $secondary-color;
                border-radius: 10px;
                opacity: 85%;
                position: fixed;
            }

            .innav {
                display: none;
            }

            p {
                text-align: center;
                margin: 0;
            }

            a {
                text-decoration: none;
                color: black;
            }
        }

        .navigation {
            position: fixed;
            z-index: 1;
            width: 100%;
            top: 0;
            background-color: #9C8C67;
            opacity: 85%;
        }

        #navigation {
            background-color: #9C8C67;
            opacity: 85%;
                nav img {
                    height: 56px;
                }
            }
    }

    .title_card {
        margin: 50px auto;
        border-bottom: solid black 2px;
    }

}
