@import "vars";
// index.html.twig
body {
    main {
        height: 100vh;
        .container_body {
            margin: 30px 50px;
            background-color: $primary-color;

            .content {
                width: 70%;
                margin: 10px auto;
            }

            .produit_card {
                margin: 5px 0;
            }
            img {
                height: 200px;
                width: 200px;
                border-radius: 20px;
                margin: 5px;
                opacity: 65%;
            }

            table {
                opacity: 95%;
                text-align: center;
                background-color: #929C67;

                thead {
                    text-align: center;
                }
            }
        }

    }
}