@import "vars";
// index.html.twig
body {
    main {
        //height: 100vh;

        .container_body {
            margin: 30px 50px;
            background-color: $primary-color;
        }

        .content {
            width: 70%;
            height: auto;
            margin: 10px auto;
            text-align: center;

            a {
                color: black;
                background-color: palegoldenrod;
            }
        }

        .content_product {
            height: 40vh;
            //overflow: scroll;
            overflow-x: hidden;
        }


    }
}