// index.html.twig
body {
    main {
        .container {
            margin-top: 30px;

            img {
                height: 200px;
                width: 200px;
                border-radius: 20px;
                margin: 5px;
            }
        }
        table {
            opacity: 75%;
            text-align: center;
            background-color: #929C67;

            thead {
                text-align: center;
            }
        }

    }
}